<div class="wrapper-grid">
  <div class="container">
    <div class="u-w-75 u-mx-auto image-grid">
      <img class="image-grid__image" src="/assets/images/facade.png" alt="Flips Facade">
      <div class="image-grid__bottom">
        <img class="u-w-2/3 image-grid__image" src="/assets/images/bar.png" alt="Flips Bar">
        <div class="u-w-1/3 image-grid__stacked">
          <img class="image-grid__image" src="/assets/images/patio.png" alt="Flips Patio">
          <img class="image-grid__image" src="/assets/images/taps.png" alt="Flips Taps">
        </div>
      </div>
    </div>
  </div>
</div>