@charset "utf-8";


// Import partials.
@import
  "scss/skeleton"
;



body {
  border-top: 8px solid $brown-dark;
}



.site-title {
  color: $blue-dark;
  text-decoration: none;
}

.button--large {
  font-size: 1.6rem;
  line-height: 4px;
  padding: 20px 50px;
}

// .nav {
//   border: 1px solid $blue-dark;
//   border-radius: 4px;
//   display: flex;
//   width: 600px;

//   &__item {
//     border-right: 1px solid $blue-dark;
//     display: block;
//     font-size: 1.8rem;
//     height: 60px;
//     line-height: 60px;
//     text-decoration: none;
//     text-transform: uppercase;
//     width: 200px;

//     &:last-child {
//       border-right: none;
//     }
//   }

  
// }