@charset "utf-8";


// Import partials.
@import
  "scss/skeleton"
;



body {
  border-top: 8px solid $brown-dark;
}



.site-title {
  color: $blue-dark;
  text-decoration: none;
}

.button--large {
  font-size: 1.6rem;
  line-height: 4px;
  padding: 20px 50px;
}

.wrapper-white {
  background-color: #fff;
}
.wrapper-grid {
  // background-image: linear-gradient(0deg, $grey-lightest, $grey-lightest 60%, $grey-lighter 60%, $grey-lighter 100%);
  // background-color: #fff;
  background-image: url('/assets/images/grid-wrapper__bottom.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}

.wrapper-grid {
  position: relative;
  z-index: 2;
}
.image-grid {
  display: flex;
  flex-direction: column;
  padding-bottom: 128px;
}
.image-grid__image {
  border: 10px solid #fff;
}
.image-grid__bottom {
  display: flex;
  margin-top: -20%;
}
.image-grid__stacked {
  display: flex;
  flex-direction: column;
  // margin-top: -20%;
}


.home {
  margin-top: -96px;
  padding-top: 192px;
}

// .nav {
//   border: 1px solid $blue-dark;
//   border-radius: 4px;
//   display: flex;
//   width: 600px;

//   &__item {
//     border-right: 1px solid $blue-dark;
//     display: block;
//     font-size: 1.8rem;
//     height: 60px;
//     line-height: 60px;
//     text-decoration: none;
//     text-transform: uppercase;
//     width: 200px;

//     &:last-child {
//       border-right: none;
//     }
//   }

  
// }