// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Color
.u-blue-dark {
  color: $blue-dark;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}




.u-block {
  display: block;
}

.u-center {
  margin-left: auto;
  margin-right: auto;
}

// Margin
@include margin(4, y);
@include margin(8, bottom);
.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// Padding
@include padding(4, top);


// Text
.u-text-center {
  text-align: center;
}


// Width
.u-w-2\/3 {
  width: 66.666666667%;
}
.u-w-1\/3 {
  width: 33.333333333%;
}
.u-w-75 {
  width: 75%;
}