// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$grey-lightest: #F5F5F5 !default;
$grey-lighter: #eeeeee !default;
$grey-light: #ccc !default;
$grey-dark: #333 !default;

$light-blue: #719BC5;
$mid-blue: #616781;
$blue-dark: #1C3C55;

$brown-dark: #72371A;

$primary-color: #33c3f0 !default;
$secondary-color: lighten($grey-dark, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: $mid-blue !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
